// * Utils
@import "./utils/base";
@import "./utils/reset";
@import "./utils/centered";
@import "./utils/variables";
@import "./utils/visualy-hidden";
// * Header
@import "./components/header";
// * hero
@import "./components/hero";
@import "./components/overlay";
// * Преимущетва
@import "./components/studio/benefits";
// * Примеры работ
@import "./components/studio/examples";
// * Наша команда
@import "./components/studio/team";
// * Постоянные клиенты
@import "./components/studio/client";
// * Footer
@import "./components/footer";
// * PORTFOLIO PAGE
@import "./components/portfolio/card";
@import "./components/portfolio/portfoliobtn";
// * Modal
@import "./components/modal/backdrop";
@import "./components/modal/modal";
// * Forma cube
@import "./components/modal/form";
// * CHECKBOX
@import "./components/modal/form-checkbox";
// * order-form
@import "./components/modal/order-form";
