:root {
  --titles-color: #212121;
  --light-titles-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --basement-logo-color: #ffffff;
  --basement-contacts-color: rgba(255, 255, 255, 0.6);

  --first-bcg-color: #ffffff;
  --sec-bcg-color: #2f303a;
  --third-bcg-color: #f5f4fa;

  --first-font-btn-color: #ffffff;
  --sec-font-btn-color: #212121;
  --first-bcg-btn-color: #2196f3;
  --sec-bcg-btn-color: #188ce8;
}
// scss variables

$accentColor: #2196f3;

$primaryTextColor: #757575;
$secondaryTextColor: rgba(255, 255, 255, 0.6);
$rareTextColor: #ffffff;
$titleTextColor: #212121;

$primaryBgc: #ffffff;
$secondaryBgc: #2f303a;
$tertiaryBgc: #f5f4fa;

$primaryIconColor: #afb1b8;
$hoverIconColor: #ffffff;
$formIconColor: #212121;

$btnColor: #188ce8;
$btnfontColor: #ffffff;
$btnbackColor: #2196f3;

$fontFamily: sans-serif;

$cardSetGap: 30px;

$headerBorder: 1px solid #ececec;

$shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

$transitionBgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionColor: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionBorder: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionBoxShadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionTransform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionOpacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionvisibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionfill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
